* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Monda', sans-serif;
  font-size: 36px;
  background-color: #181824;
  color: rgba(255, 255, 255, 0.7);
}

input[type=checkbox]:checked + label{
  color: rgba(15, 144, 161, 0.57);
  text-decoration: line-through;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}

.todo {
  margin: 10% auto;
  width: 40%;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add__todo {
  width: 100%;
  height: 30px;
  background-color: rgba(37, 39, 60, 1);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}

.add__input {
  margin: 8px auto 8px 12px;
  width: 80%;
  background-color: inherit;
  border: none;
  color: rgba(255, 255, 255, 0.7);
}

.add__input:focus, .add__button:focus {
  outline: none;
}

.add__button {
  background: url("./asset/img/Arrow.png") no-repeat center rgba(90, 255, 49, 0.6);
  background-size: 50%;
  width: 20%;
  height: 100%;

  border: none;
  border-radius: 0 30px 30px 0;

  cursor: pointer;
  transition: background-color .2s ease-out;
}

.add__button:hover {
  background-color: rgba(124, 250, 95, 0.6);
  transition: background-color .2s ease-out;
}

.add__button:active {
  background-color: rgba(62, 190, 33, 0.6);
}

.todo__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;

  background: #25273C;
  border-radius: 8px 8px 0 0;
}

.todo__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 10px;
  line-height: 12px;

  margin-bottom: 6px;
  padding: 5px 8px;
}

.todo__item--alarm:first-child {
  border-radius: 8px 8px 0 0;
}

.todo__item--alarm {
  background: rgba(255, 0, 0, 0.15);
}

.todo__done {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.todo__done+label {
  display: inline-flex;
  align-items: center;
}

.todo__done+label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(191, 86, 255, 0.79);
  border-radius: 50%;
  background: inherit;
}

.todo__done:checked+label::before {
  background: linear-gradient(111.35deg, #E600FA 10.12%, rgba(82, 97, 234, 0) 82.22%) no-repeat center/cover, url("./asset/img/Check.png") no-repeat center;
  background-size: auto, 50% 50%;
}

.todo__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 9%;
  width: 77%;
  height: 3px;
  background-color: rgba(72, 64, 64, 0.37);
  border-radius: 2px;
}

.todo__description {
  padding-left: 15px;
  padding-right: 15px;
}

.todo__remove {
  margin-left: auto;
  cursor: pointer;
}

.todo__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 5px 8px;

  font-size: 12px;
  order: 1;
}

.todo__footer-clear {
  border: none;
  background: inherit;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}